<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catalog_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catalog_item.description %>
</p>

<%= link_to 'Edit', edit_catalog_item_path(@catalog_item) %> |
<%= link_to 'Back', catalog_items_path %>
