<p id="notice"><%= notice %></p>

<h1>Object Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @object_types.each do |object_type| %>
      <tr>
        <td><%= object_type.name %></td>
        <td><%= object_type.description %></td>
        <td><%= link_to 'Show', object_type %></td>
        <td><%= link_to 'Edit', edit_object_type_path(object_type) %></td>
        <td><%= link_to 'Destroy', object_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Object Type', new_object_type_path %>
