<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @object_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @object_type.description %>
</p>

<%= link_to 'Edit', edit_object_type_path(@object_type) %> |
<%= link_to 'Back', object_types_path %>
