<%= simple_form_for(@blueprint) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :version %>
    <%= f.association :user %>
    <%= f.input :group %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
