<div id="jsGrid"></div>

<script>
$(function() {

  $("#jsGrid").jsGrid({
    height: "auto",
    width: "100%",


    sorting: true,
    paging: true,
    autoload: true,
    pageSize: 10,
    filtering: true,
    deleteConfirm: function(item) {
      return item.name + " will be removed. Are you sure?";
    },

    controller: {
      loadData: function(filter) {
        var d = $.Deferred();

        $.ajax({
          url: "<%=ajax_url%>",
          dataType: "json",
          data: filter,
        }).done(function(response) {
          d.resolve(response.value);
        });

        return d.promise();
      },
      insertItem: function(item) {
        return $.ajax({
          type: "POST",
          dataType: "json",
          url: "<%=ajax_url%>",
          data: item
        });
      },
      updateItem: function(item) {
        return $.ajax({
          type: "PUT",
          dataType: "json",
          url: "<%=ajax_url%>/" + item.id,
          data: item
        });
      },

      deleteItem: function(item) {
        return $.ajax({
          type: "DELETE",
          url: "<%=ajax_url%>/" + item.id
        });
      },


    },

      <%if defined?  extra_opt%>
      <%=raw extra_opt%>
      <%else%>
      filtering: true,
      inserting: true,
      editing: true,
          fields: [
      { name: "name", type: "text", title: "Name" },
      { name: "description", type: "text",title: "Description" },
      { type: "control" }
    ]
    <%end%>


  });

});
</script>
