<p id="notice"><%= notice %></p>

<h1>Configuration Files</h1>

<table>
  <thead>
    <tr>
      <th>Configuration template</th>
      <th>Version</th>
      <th>File content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configuration_files.each do |configuration_file| %>
      <tr>
        <td><%= configuration_file.configuration_template %></td>
        <td><%= configuration_file.version %></td>
        <td><%= configuration_file.file_content %></td>
        <td><%= link_to 'Show', configuration_file %></td>
        <td><%= link_to 'Edit', edit_configuration_file_path(configuration_file) %></td>
        <td><%= link_to 'Destroy', configuration_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Configuration File', new_configuration_file_path %>
